mixin phone(mod)
  .phone&attributes(attributes)
    a.phone__wrap.phone__wrap--arrow(href="tel:+7(347)258–91–89" class= mod)
      svg.phone__icon(width="18" height="18")
        use(href="img/symbols.svg#icon-phone")
      span.phone__link.phone__link--dark.phone__link--pd +7 (347) 258–91–89
    .phone__drop
      ul.phone__list
        li.phone__list-item
          .phone__header
            span Отдел продаж
          a.phone__link(href="tel:+7(347)246–22–58") +7 (347) 246–22–58
          a.phone__link(href="tel:+7(347)246–22–58") +7 (347) 246–22–58
        li.phone__list-item
          .phone__header
            span Отдел кадров
          a.phone__link(href="tel:+7(347)246–22–58") +7 (347) 246–22–58
        li.phone__list-item
          .phone__header
            span Режим работы
          span.phone__link пн-пт 09:00–20:00
          span.phone__link сб-вс 10:00–17:00
        li.phone__list-item
          .phone__header
            span Электронная почта
          a.phone__link.phone__link--big(href="mailto:tehnoelast@bk.ru")
            img(src="img/sprite/icon-mail-ios.svg", alt="Иконка")
            span tehnoelast@bk.ru
        li.phone__list-item
          .phone__header
            span Мессенджеры
          a.phone__link.phone__link--big(href="#")
            img(src="img/sprite/icon-tg.svg", alt="Иконка")
            span Telegram
          a.phone__link.phone__link--big(href="#")
            img(src="img/sprite/icon-wp.svg", alt="Иконка")
            span WhatsApp

