.phone {
  position: relative;
  display: inline-block;
  color: $black;

  &:hover .phone__wrap--arrow::after {
    transform: rotate(-135deg);
  }

  &:hover .phone__drop {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
}

.phone__wrap {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;

  &:last-of-type {
    border-bottom: 0;
  }

  @media (min-width: $screen-xl) {
    border-bottom: 1px solid #DFE2ED;

    &--arrow {
      //padding-right: 25px;
      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 0px;
        width: 5px;
        height: 5px;
        transition: $time;
        transform: rotate(45deg);
        border-bottom: 1px solid $black;
        border-right: 1px solid $black;
      }
    }
  }
}

.phone__drop {
  @media (min-width: $screen-xl) {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 8px;
    transition: $time;
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    min-width: 270px;

  }
}

.phone__list {
  @include ul-none;
  color: $white;
  background: #3B4651;
  box-shadow: 0px 4px 25px rgba(86, 109, 251, 0.07);
  overflow: hidden;
  border-radius: $border-radius-xl;
}

.phone__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  fill: #FBD826;
}

.phone__header {
  @include xl-text-thin;
  display: flex;
  justify-content: space-between;

  background: #44505C;
  color: #8A97A4;
  padding: 5px 8px;
}

.phone__link {
  @include xl-text-small;
  position: relative;
  display: flex;
  align-items: center;
  color: $white;
  text-decoration: none;
  padding: 10px 16px;

  img {
    display: inline-block;
    margin-right: 11px;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  span {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(#EFEFF4, 0.1);
    }
  }

  &--dark {
    color: $text-color;
  }

  &--pd {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  &--big {
    @include xl-text-normal;
    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 51px;
        height: 1px;
        background: #575757;
      }
    }
  }
}
