.brand {
  display: block;
  padding: 10px 16px;
  border: 1px solid $color-line-border;
  border-radius: $border-radius;
  filter: grayscale(100%);
}

.brand img {
  height: 67.67px;
  object-fit: contain;
}
