.preview {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: $white;

  &--info-block {
    @media (min-width: $screen-xl) {
      //max-width: 160px;

      .preview__row {
        display: block;
      }

      .preview__img {
        width: auto;
        height: 118px;
        margin-right: 0;
        border: 1px solid #eaecee;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      .preview__wrap {
        position: relative;
        padding: 12px 11px 15px 11px;
        background-color: #f5f5f7;
        border: 1px solid #eaecee;
        border-top: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      .preview__title {
        @include xl-text-thin();
        @include line-clamp(3);
        min-height: 48px;
        line-height: 16px;
        font-weight: 500;
        color: #333333;
        //color: #808080;
      }

      .preview__info--rubric {
        margin-bottom: 9px;
        margin-right: 0;
      }

      .preview__desc {
        display: none;
        //@include text-small();
        //font-weight: 500;
        //color: #333333;
      }
    }
  }
}

.preview__row {
  display: flex;
}

.preview__img {
  //padding: 10px;
  width: 122px;
  flex-shrink: 0;
  margin-right: 16px;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #F5F5F6;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $screen-xl) {
    width: 227px;
    height: 180px;
    margin-right: 24px;
    border: 1px solid $white;
    border-radius: 5px 5px 0 0;
  }
}

.preview__wrap {
  @media (min-width: $screen-xl) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    flex-grow: 1;
  }
}

.preview__title {
  @include text-normal;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;

  @media (min-width: $screen-xl) {
    @include xl-text-normal();
  }
}

.preview__desc {
  @include text-small;
  @include line-clamp(3);
  margin-bottom: 11px;

  p {
    margin-bottom: 0;
  }

  @media (min-width: $screen-xl) {
    @include xl-text-small;
    color: #333333;
    max-width: 460px;
    @include line-clamp(4);
  }
}

.preview__info-row {
  display: flex;
  flex-wrap: wrap;
}

.preview__info {
  @include text-small;
  color: #808080;

  &:first-child {
    margin-right: 18px;
  }
}

.preview__bread-list {
  @include ul-none;
  @include xl-text-thin;
  display: flex;
  margin-bottom: 10px;
  color: $color-primary;
}

.preview__bread-item {
  display: flex;

  &:not(:last-child) {
    &::after {
      content: '/';
      display: inline-block;
      margin: 0 2px;

      color: $color-primary;
    }
  }
}

.preview__bread-link {
  color: $color-primary;
  text-decoration: none;
}
