mixin preview()
  a.preview(href="news.html")
    article.preview__row
      .preview__img
        img(src="img/content/news-1.jpg" alt="Повседневная практика показывает важность событий")
      .preview__wrap
        h3.preview__title Повседневная практика показывает важность событий
        .preview__desc
          p Фторкаучуковые кольца имеют отличное сопротивление к истиранию и они устойчивы к агрессивной среде перепадам температур и износостойки...
        .preview__info-row
          span.preview__info 12 января 2021
          span.preview__info Название рубрики
