// В этом файле должны быть стили для БЭМ-блока comment, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$screen-md:                   768px !default;
$bg-write:                    rgba(239, 239, 244, 0.6);

.comment {

  $block-name:                &; // #{$block-name}__element
  @include text-normal;
  font-size: 16px;

  @media (min-width: $screen-md) {

    & & {
      padding-left: calc(60px + 1rem);
    }

    & & & & {
      padding-left: 0;
    }
  }

  &__inner {
    display: flex;
  }

  &__avatar-wrap {
    position: relative;
    flex-shrink: 0;
    align-self: flex-end;
    margin-right: 13px;
    margin-bottom: 58px;
    width: 58px;
    height: 58px;

    &::after {
      @include mask-photo(url("data:image/svg+xml,%0A%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 0H0V54H54V0ZM27 53C41.3594 53 53 47.8 53 27C53 6.2 41.3594 1 27 1C12.6406 1 1 6.2 1 27C1 47.8 12.6406 53 27 53Z' fill='%23fff'/%3E%3C/svg%3E%0A"));
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 35px;
      margin-right: 24px;
      width: 88px;
      height: 88px;
    }
  }

  &__text {
    flex-grow: 1;

    *:first-child {
      margin-top: 0;
    }
  }
}

.comment__wrap {
  position: relative;
  padding: 16px 16px 7px;
  border-radius: 8px 8px 8px 0px;
  background-color: $bg-write;

  @media (min-width: $screen-xl) {
    //padding-top: 16px;
    //padding-left: 16px;
    //padding-right: 16px;
    background-color: #f5f5f6;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;

    width: 13px;
    height: 13px;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.723 12.7539C7.44271 11.9368 11.9368 7.4427 12.7539 1.723L13 0V13H0L1.723 12.7539Z' fill='%23EFEFF4'/%3E%3C/svg%3E%0A");

    @media (min-width: $screen-xl) {
      opacity: 1;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1.83725 12.7675C7.56343 11.9504 12.0626 7.45638 12.8806 1.73667L13.127 0.0136719V13.0137H0.112305L1.83725 12.7675Z' fill='%23F5F5F6'/%3E%3C/svg%3E");
    }
  }
}

.comment__author {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.comment__body {
  p {
    margin: 0;
  }
}

.comment__footer {
  margin-top: 9px;

  &--right {
    text-align: right;
  }

  @media (min-width: $screen-xl) {
    margin-top: 15px;
  }
}

.comment__date {
  @include text-thin;
  color: $text-color-light;
  font-weight: 500;
}

.comment__btn {
  //@include text-small;
  //font-weight: 600;
  width: 100%;
  background-color: $bg-write;
  //padding: 5.5px 10px;
  margin-top: 8px;
  color: $color-primary;
  border: 1px solid $bg-write;

  @media (min-width: $screen-xl) {
    @include text-small;
    font-weight: 500;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    letter-spacing: 0.15px;
    background-color: #f5f5f6;

    &:hover {
      background-color: darken($bg-write, 10%);
    }
  }
}
