.section-content {
  @media (min-width: $screen-xl) {
    padding: 24px;
    background-color: $white;
    border-radius: $border-radius-xl;

    margin-bottom: 16px;

    &--personals {
      padding-top: 10px;
      padding-bottom: 36px;
    }
  }

  &--news {
    @media (min-width: $screen-xl) {
      background-color: transparent;
      padding: 0
    }
  }  
}

.section-content__wrap {
  p:last-child {
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  h4 {
    margin-bottom: 0;
    @media (max-width: $screen-xl - 1) {
      @include text-big;
      margin-bottom: 20px;
    }
  }

  @media (max-width: $screen-xl - 1) {
    padding: 32px 16px 48px;
  }

  &--news {
    @media (min-width: $screen-xl) {
      padding: 0;
    }
  }

  &--personals {
    @media (min-width: $screen-xl) {
      margin-left: 3px;
    }
  }


  &--info-block {
    @media (min-width: $screen-xl) {
      display: flex;
    }

    .section-content__item {
      @media (min-width: $screen-xl) {
        margin-left: 0;
        margin-right: 12px;
        padding: 0;
      }
    }
  }
}

.section-content__btn {
  width: 100%;
}

.section-content__desc img {
  margin-bottom: 20px;
}

.section-content__header {
  @include text-small;
  display: flex;
  justify-content: space-between;

  padding: 6.5px 16px;
  background-color: $color-light;
  border-bottom: 1px solid $color-line-border;
}

.section-content__link-more {
  margin-top: 20px;
}


.section-content__wrap--excellence {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-content__wrap--personals {
  @media (max-width: $screen-xl - 1) {
    padding-top: 25px;
    padding-bottom: 28px;
  }
}

.section-content__wrap--description {
  @media (max-width: $screen-xl - 1) {
    padding-top: 15px;
    padding-bottom: 32px;
  }
}

.section-content__wrap--news {
  @media (max-width: $screen-xl - 1) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.section-content__item {
  margin: 0 -16px -1px;
  padding: 23px 16px 24px;
  border-top: 1px solid $color-line-border;
  border-bottom: 1px solid $color-line-border;

  @media (min-width: $screen-xl) {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 16px;
  }
}

.section-content__item-block {
  margin-bottom: 8px;

  @media (min-width: $screen-xl) {
    margin-bottom: 16px;
  }
}
