.section-content {
  a:not([class]) {
    color: #3d81c6;
    border-bottom: 1px solid rgba(61,129,198,.25);
    text-decoration: none;
  }

  strong:not([class]) {
    font-weight: 600;
  }

  @media (min-width: $screen-xl) {
    padding: 24px;
    background-color: $white;
    border-radius: $border-radius-xl;
    border: 1px solid $color-line-border-xl;
    margin-bottom: 16px;
  }

  &--news {
    @media (min-width: $screen-xl) {
      background-color: transparent;
      padding: 0
    }
  }

  &--productions {
    @media (min-width: $screen-xl) {
      background-color: transparent;
      padding: 0;
    }

    @media (max-width: $screen-xl - 1) {
      padding: 16px 16px 8px;
      .section-content__wrap {
        padding: 0;
      }
    }
  }

  &--excellence {
    @media (max-width: $screen-xl - 1) {
      .section-content__wrap {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    @media (min-width: $screen-xl) {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }

  &:hover .link-all {
    opacity: 1;
    z-index: 1;
  }
}

.section-content__wrap {
  p:last-child {
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  h4:not([class]) {
    margin-bottom: 0;
    @media (max-width: $screen-xl - 1) {
      @include text-big;
      margin-bottom: 20px;
    }

    @media (min-width: $screen-xl) {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.005em;
      margin-bottom: 6px;
    }
  }

  @media (max-width: $screen-xl - 1) {
    padding: 32px 16px 48px;
  }

  &--news {
    @media (min-width: $screen-xl) {
      padding: 0;
    }
  }

  &--info-block {
    @media (min-width: $screen-xl) {
      display: flex;

      .section-content__item {
        margin-left: 0;
        margin-right: 12px;
        padding: 0;
      }
    }
  }
}

.section-content__btn {
  width: 100%;
  margin-top: 16px;

  @media (max-width: $screen-xl - 1) {
    @include text-small();
    margin-top: 0px;
  }

  @media (min-width: $screen-xl) {
    letter-spacing: inherit;
    &--xl-tr {
      background-color: $white;
      border: 1px solid #EAECEE;

      &:hover {
        background-color: #f2f4f5;
      }
    }
  }
}

.section-content__desc img {
  margin-bottom: 20px;
}

.section-content__header {
  @include text-small;
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 6.5px 16px;
  margin: -1px 0;
  background-color: $color-light;
  border-top: 1px solid $color-line-border;
  border-bottom: 1px solid $color-line-border;
}

.section-content__link-more {
  margin-top: 20px;
}


.section-content__wrap--excellence {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-content__wrap--personals {
  @media (max-width: $screen-xl - 1) {
    padding-top: 25px;
    padding-bottom: 28px;
  }
}

.section-content__wrap--description {
  @media (max-width: $screen-xl - 1) {
    padding-top: 15px;
    padding-bottom: 32px;
  }
}

.section-content__wrap--news {
  @media (max-width: $screen-xl - 1) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.section-content__item {
  margin: 0 -16px -1px;
  padding: 23px 16px 24px;
  border-top: 1px solid $color-line-border;
  border-bottom: 1px solid $color-line-border;

  @media (min-width: $screen-xl) {
    border: 0;
    padding: 0;
    margin: 0 0 16px;
    border-radius: $border-radius-xl;
    //overflow: hidden;
  }
}

.section-content__item-block {
  margin-bottom: 8px;

  @media (min-width: $screen-xl) {
    margin-bottom: 16px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

.section-content__grid-review {
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(136px,1fr));
    grid-gap: 12px;
    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .default-slider__width {
    max-width: 100%;
  }

  .rev-img {
    @media (min-width: $screen-xl) {
      height: 330px;
    }
  }

  + .section-content__btn {
    margin-top: 12px;
  }
}
