mixin privileges()
  +section-content({
    title: 'Плюсы и минусы'
  })
    .grid-tpl.grid-tpl--2
      +privilege({
        title: 'Преимущества банкротства',
        img: 'thesis-2.jpg',
        classItem: 'smile',
        list: [
          'Долги, непомерные штрафы и пени списываются полностью',
          'Единственное жилье остается в вашем распоряжении (в случае, если оно не находится в залоге у банка)',
          'Выезд заграницу открыт',
          'Работодатель не узнает о том, что у вас были проблемы с долгами'
        ],
      })
      +privilege({
        title: 'Преимущества банкротства',
        img: 'thesis-2.jpg',
        classItem: 'sad',
        list: [
          'Долги, непомерные штрафы и пени списываются полностью',
          'Единственное жилье остается в вашем распоряжении (в случае, если оно не находится в залоге у банка)',
          'Выезд заграницу открыт',
          'Работодатель не узнает о том, что у вас были проблемы с долгами'
        ],
      })
