.socials {
  display: flex;
  padding: 0;
  margin: 0 -5px;
  list-style: none;
}

.socials__item {
  padding-left: 5px;
  padding-right: 5px;
}

.socials__link {
  display: block;

  svg {
    display: block;

    @media (min-width: $screen-xl) {
      width: 24px;
      height: 24px;
    }
  }
}
