.default-slider {
  overflow: hidden;
}

.default-slider .swiper-container {
  overflow: visible;
}

.default-slider__width {
  max-width: 136px;

  @media (min-width: $screen-xl) {
    max-width: 157px;
  }
}
