mixin navigation(list)
  nav.navigation&attributes(attributes).d-xl-none
    .navigation__row.swipe-list
      +burger('Меню').burger--square.navigation__burger
      +tags-list({
        list: list,
        tagLinkTag: 'a'
      })
