mixin navigation(list)
  nav.navigation.swipe-list.d-xl-none&attributes(attributes)
    +burger('Меню').burger--square.navigation__burger
    +tags-list({
      list: list,
      tagLinkTag: 'a'
    })
