// Style plagin
@import "variables";

// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// My style

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/btn/btn";
@import "../blocks/components/link/link";
@import "../blocks/components/icon-btn/icon-btn";
@import "../blocks/components/logo/logo";
@import "../blocks/components/display/display";
@import "../blocks/components/container/container";
@import "../blocks/components/grid-row/grid-row";
@import "../blocks/components/develop/develop";
@import "../blocks/components/to-top/to-top";
@import "../blocks/components/tag-link/tag-link";
@import "../blocks/components/tags-list/tags-list";
@import "../blocks/components/burger/burger";
@import "../blocks/components/socials/socials";
@import "../blocks/components/title-wrap/title-wrap";
@import "../blocks/components/title-text/title-text";
@import "../blocks/components/navigation/navigation";
@import "../blocks/components/swipe-list/swipe-list";
@import "../blocks/components/field-file/field-file";
@import "../blocks/components/field-text/field-text";
@import "../blocks/components/form/form";
@import "../blocks/components/comment/comment";
@import "../blocks/components/collapse/collapse";
@import "../blocks/components/section-content/section-content";
@import "../blocks/components/rev-img/rev-img";
@import "../blocks/components/brand/brand";
@import "../blocks/components/default-slider/default-slider";
@import "../blocks/components/tab-filter/tab-filter";
@import "../blocks/components/author/author";
@import "../blocks/components/preview/preview";
@import "../blocks/components/modal/modal";
@import "../blocks/components/icon-play/icon-play";
@import "../blocks/components/is-loading/is-loading";
@import "../blocks/components/menu-ios/menu-ios";
@import "../blocks/components/price/price";
@import "../blocks/components/sale/sale";
@import "../blocks/components/table-char/table-char";
@import "../blocks/components/about/about";
@import "../blocks/components/news-category/news-category";
@import "../blocks/components/category-filter/category-filter";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/main-content/main-content";
@import "../blocks/project/contacts/contacts";
@import "../blocks/project/contacts-info/contacts-info";
@import "../blocks/project/order-page/order-page";
@import "../blocks/project/excellence/excellence";
@import "../blocks/project/nav-list/nav-list";
@import "../blocks/project/block-form/block-form";
@import "../blocks/project/write/write";
@import "../blocks/project/faq/faq";
@import "../blocks/project/advantages/advantages";
@import "../blocks/project/product/product";
@import "../blocks/project/partner/partner";
@import "../blocks/project/production-list/production-list";
@import "../blocks/project/product-item/product-item";
@import "../blocks/project/characteristics/characteristics";
@import "../blocks/project/client-errors/client-errors";


@import "../blocks/modal/modal-ios/modal-ios";

.sidebar {
  position: sticky;
  top: 16px;
}

.sidebar__mb {
  margin-bottom: 16px;
}

.border-radius-xl {
  border-radius: $border-radius-xl;
}

.line {
  display: block;
  height: 6px;
  margin: 0;
  background-color: $color-light;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $color-line-border;
  border-top: 1px solid $color-line-border;

  &--double {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $white;
    height: 32px;
    border: 0;
    &::after,
    &::before {
      content: '';
      display: block;
      height: 6px;
      border-bottom: 1px solid $color-line-border;
      border-top: 1px solid $color-line-border;
      background-color: $color-light;
    }
  }

  @media (min-width: $screen-xl) {
    height: 16px;
    border: 0;
  }
}

.link-all {
  font-weight: 500;
  letter-spacing: 0.2px;
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}