mixin excellence()
  .section-content
    .section-content__wrap
      .grid-row.grid-row--mb32
        .grid-row__col.grid-row__col--4.grid-row__col--xl-3
          .excellence
            strong.excellence__title 15 лет
            p.excellence__text работы на рынке
        .grid-row__col.grid-row__col--4.grid-row__col--xl-3
          .excellence
            strong.excellence__title > 3000
            p.excellence__text единиц пресс-форм
        .grid-row__col.grid-row__col--4.grid-row__col--xl-3
          .excellence
            strong.excellence__title > 100
            p.excellence__text клиентов
        .grid-row__col.grid-row__col--4.grid-row__col--xl-3
          .excellence
            strong.excellence__title > 250
            p.excellence__text видов РТИ смесей
