mixin excellence()
  .section-content.section-content--excellence
    .section-content__wrap
      .grid.grid--mb32.grid--sb
        .grid__col
          .excellence
            strong.excellence__title 15 лет
            p.excellence__text работы на рынке
        .grid__col
          .excellence
            strong.excellence__title 15 лет
            p.excellence__text работы на рынке
        .grid__col
          .excellence
            strong.excellence__title > 3000
            p.excellence__text единиц пресс-форм
        .grid__col
          .excellence
            strong.excellence__title > 100
            p.excellence__text постоянных клиентов
        .grid__col
          .excellence
            strong.excellence__title > 250
            p.excellence__text видов РТИ смесей
