mixin personals()
  .section-content
    +title-wrap('Руководство')
    .section-content__wrap.section-content__wrap--personals.default-slider
      .swiper-container.js-personal-slider
        .swiper-wrapper
          .swiper-slide.default-slider__width
            +author()
          .swiper-slide.default-slider__width
            +author()
          .swiper-slide.default-slider__width
            +author()
          .swiper-slide.default-slider__width
            +author()
          .swiper-slide.default-slider__width
            +author()
          .swiper-slide.default-slider__width
            +author()
