mixin personals()
  .section-content.section-content--personals.personals
    +title-wrap('Руководство').title-wrap--personals
    .section-content__wrap.section-content__wrap--personals.default-slider
      .swiper-container.js-personal-slider
        .swiper-wrapper
          .swiper-slide.default-slider__width.personals__slider-width
            +author()
          .swiper-slide.default-slider__width.personals__slider-width
            +author()
          .swiper-slide.default-slider__width.personals__slider-width
            +author()
          .swiper-slide.default-slider__width.personals__slider-width
            +author()
          .swiper-slide.default-slider__width.personals__slider-width
            +author()
          .swiper-slide.default-slider__width.personals__slider-width
            +author()
