mixin services()
  +section-content({
    title: 'Услуги и цены'
  })
    .grid-tpl.grid-tpl--3
      - for(var i = 0; i < 3; i++)
        +service({
          title: 'Сопровождение процедуры',
          img: 'thesis-1.jpg',
          list: [
            'Анализ ситуации',
            'Составление заявления',
            'Подача заявления',
            "Представление интересов в суде"
          ]
        })
