mixin news()
  .section-content
    +title-wrap('Новости')
      a.icon-btn.icon-btn--blue(href="all-news.html") Все
    .section-content__wrap.section-content__wrap--news
      .section-content__item
        +preview()
      .section-content__item
        +preview()
      .section-content__item
        +preview()
