mixin news()
  .section-content
    +title-wrap('Новости')
      a.icon-btn.icon-btn--blue()
        svg(width="17" height="13")
          use(href="img/symbols.svg#icon-right")
    .section-content__wrap
      .section-content__item
        +preview()
      .section-content__item
        +preview()
      .section-content__item
        +preview()
