mixin news()
  .section-content
    +title-wrap('Новости')
      a.link-all(href="all-news.html", data-text="Посмотреть все") Всеё
    .section-content__wrap.section-content__wrap--news.grid-row-xl
      .section-content__item
        +preview({
          title: 'Фторкаучуковые кольца',
          picture: 1,
          tag: 'a'
        }).preview--info-block
      .section-content__item
        +preview({
          title: 'Фторкаучуковые кольца',
          picture: 1,
          tag: 'a'
        }).preview--info-block
      .section-content__item
        +preview({
          title: 'Фторкаучуковые кольца',
          picture: 1,
          tag: 'a'
        }).preview--info-block
