mixin advantages()
  .advantages
    +title-wrap('Преимущества 🔥')
    .advantages__content
      ul.advantages__list
        - for (let i = 0; 3 > i; i++)
          li.advantages__item
            h4.advantages__title Повседневная практика показывает
            .advantages__desc
              p Равным образом реализация намеченных плановых заданий
