.title-small {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.title-normal {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;

  @media (min-width: $screen-xl) {
    font-size: 24px;
    line-height: 29px;
  }
}

.title-big {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $screen-xl) {
    @include xl-text-semi-big;
    letter-spacing: -0.4px;
  }
}
