// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-size--h3:               rem(24px) !default;

$line-height:                 1.5 !default;

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      //margin-bottom: 1rem;
    }

    &--width {
      max-width: 344px;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    white-space: normal; // Привет IE
    color: currentColor;

    @media (min-width: $screen-xl) {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.form__text {
  max-width: 550px;
  margin-bottom: 16px;

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 24px;
  }
}

.form__group {
  margin-bottom: 5px;

  @media (min-width: $screen-xl) {
    margin-bottom: 12px;
  }
}

.form__warning {
  @include text-thin;
  margin: 0;
  color: #808080;
  max-width: 260px;

  a {
    color: $color-primary;
    border-bottom: 1px solid currentColor;
  }
}

.form__count {
  margin: 0 0 17px;
  letter-spacing: 0.3px;
  color: #808080;
  font-weight: 500;

  strong {
    font-size: 20px;
    line-height: 24px;
    color: $color-primary;

    @media (min-width: $screen-xl) {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px
    }
  }

  @media (min-width: $screen-xl) {
    font-size: 17px;
    line-height: 22px;
  }
}

.form__group-interview {
  margin-bottom: 25px;
}

.form__btn-group {
  display: flex;
}

.form__mb {
  margin-bottom: 12px;
}
