mixin modal-contact()
  +modal('modal-contact')&attributes(attributes)
    .modal__body
      .section-content
        +title-wrap('Контакты')
        .section-content__header
          span.section-content__header-text Адрес
        +nav-list(
            [
                {
                    link: '#',
                    text: 'Россия, Республика Башкортостан,  г. Уфа, 450027 ул. Трамвайная, д. 2 смотреть на карте',
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
            ]
        )
        .section-content__header
          span.section-content__header-text Отдел продаж
        +nav-list(
            [
                {
                    link: 'tel:+7917567-67-67',
                    text: '+7 (917) 567-67-67',
                    attrs: {
                        class: 'nav-list__link--color nav-list__link--no-arrow'
                    }
                },
                {
                    link: 'tel:+7917567-67-67',
                    text: '+7 (917) 567-67-67',
                    attrs: {
                        class: 'nav-list__link--color nav-list__link--no-arrow'
                    }
                }
            ]
        )
        .section-content__header
          span.section-content__header-text Отдел кадров
        +nav-list(
            [
                {
                    link: 'tel:+7917567-67-67',
                    text: '+7 (917) 567-67-67',
                    attrs: {
                        class: 'nav-list__link--color nav-list__link--no-arrow'
                    }
                }
            ]
        )
        .section-content__header
          span.section-content__header-text Режим работы
        +nav-list(
            [
                {
                    text: 'пн-пт 09:00–20:00',
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
                {
                    text: 'сб-вс 10:00–17:00',
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                }
            ]
        )
        .section-content__header
          span.section-content__header-text Электронная почта
        +nav-list(
            [
                {
                    link: 'mailto:info@pplans.ru',
                    text: `
                      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#gr)"/>
                        <path d="M23.8326 8.92889L18.0706 14.5002L23.8326 20.0714C23.9368 19.8595 24 19.6253 24 19.3752V9.62509C24 9.37494 23.9368 9.14076 23.8326 8.92889Z" fill="white"/>
                        <path d="M22.3295 8H6.66993C6.41288 8 6.17223 8.0615 5.95452 8.16286L13.3191 15.2936C13.9702 15.9273 15.0292 15.9273 15.6803 15.2936L23.0449 8.16286C22.8272 8.0615 22.5865 8 22.3295 8Z" fill="white"/>
                        <path d="M5.16736 8.92889C5.06319 9.14076 5 9.37494 5 9.62509V19.3752C5 19.6254 5.06319 19.8596 5.16736 20.0714L10.9294 14.5002L5.16736 8.92889Z" fill="white"/>
                        <path d="M17.2828 15.2659L16.4674 16.0594C15.3824 17.1152 13.6169 17.1152 12.5319 16.0594L11.7166 15.2659L5.95452 20.8371C6.17223 20.9385 6.41288 21 6.66993 21H22.3295C22.5865 21 22.8272 20.9385 23.0449 20.8371L17.2828 15.2659Z" fill="white"/>
                        <defs>
                        <linearGradient id="gr" x1="14.703" y1="28.8836" x2="14.7313" y2="0.350098" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#5CC3F6"/>
                        <stop offset="1" stop-color="#376DE9"/>
                        </linearGradient>
                        </defs>
                      </svg>
                      info@pplans.ru`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                }
            ]
        )
        .section-content__header
          span.section-content__header-text Мессенджеры
        +nav-list(
            [
                {
                    link: '#',
                    text: `
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#tg)"/>
                          <path d="M5.30414 15.0122C7.03348 14.0596 8.96389 13.2646 10.7676 12.4655C13.8706 11.1566 16.986 9.87048 20.1328 8.67307C20.745 8.46905 21.8451 8.26952 21.953 9.17685C21.8939 10.4612 21.651 11.738 21.4843 13.0148C21.0613 15.8225 20.5723 18.6207 20.0956 21.4192C19.9313 22.3514 18.7635 22.834 18.0163 22.2374C16.2207 21.0245 14.4112 19.8234 12.6384 18.5824C12.0577 17.9923 12.5962 17.1449 13.1149 16.7236C14.5938 15.2661 16.1623 14.0277 17.564 12.4949C17.9421 11.5818 16.8249 12.3513 16.4564 12.5871C14.4317 13.9824 12.4566 15.4628 10.3219 16.6891C9.23147 17.2893 7.96059 16.7763 6.87069 16.4414C5.89345 16.0368 4.46143 15.6292 5.30404 15.0122L5.30414 15.0122Z" fill="white"/>
                          <defs>
                          <linearGradient id="tg" x1="10.8767" y1="1.2093" x2="3.62669" y2="18.125" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#37AEE2"/>
                          <stop offset="1" stop-color="#1E96C8"/>
                          </linearGradient>
                          </defs>
                        </svg>
                        Telegram`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
                {
                    link: '#',
                    text: `
                          <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#wp)"/>
                            <path d="M19.048 16.4598L19.0405 16.5223C17.208 15.609 17.0163 15.4873 16.7797 15.8423C16.6155 16.0881 16.1372 16.6456 15.993 16.8106C15.8472 16.9731 15.7022 16.9856 15.4547 16.8731C15.2047 16.7481 14.4022 16.4856 13.4522 15.6356C12.7123 14.9732 12.2156 14.1607 12.0689 13.9107C11.8248 13.489 12.3356 13.429 12.8006 12.549C12.8839 12.374 12.8414 12.2365 12.7798 12.1124C12.7173 11.9874 12.2198 10.7624 12.0114 10.2741C11.8114 9.78741 11.6056 9.84908 11.4514 9.84908C10.9715 9.80741 10.6206 9.81408 10.3115 10.1357C8.96649 11.614 9.30565 13.139 10.4565 14.7607C12.7181 17.7206 13.9231 18.2656 16.1264 19.0222C16.7213 19.2114 17.2638 19.1847 17.693 19.1231C18.1713 19.0472 19.1655 18.5223 19.373 17.9348C19.5855 17.3473 19.5855 16.8598 19.523 16.7473C19.4613 16.6348 19.298 16.5723 19.048 16.4598Z" fill="white"/>
                            <path d="M21.6004 7.37448C15.193 1.18042 4.58905 5.67284 4.58488 14.411C4.58488 16.1576 5.04237 17.861 5.91402 19.3651L4.50072 24.5L9.77979 23.1234C16.3672 26.6816 24.497 21.9567 24.5004 14.416C24.5004 11.7694 23.467 9.27861 21.5879 7.40697L21.6004 7.37448ZM22.8354 14.3885C22.8304 20.7492 15.848 24.7217 10.3256 21.4751L10.0256 21.2967L6.90067 22.1092L7.73816 19.0718L7.53899 18.7593C4.10239 13.2885 8.05065 6.13866 14.5605 6.13866C16.7722 6.13866 18.848 7.00115 20.4113 8.56362C21.9737 10.1128 22.8354 12.1886 22.8354 14.3885Z" fill="white"/>
                            <defs>
                            <linearGradient id="wp" x1="14.5" y1="0" x2="14.5" y2="29" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#7DE777"/>
                            <stop offset="1" stop-color="#5CC34D"/>
                            </linearGradient>
                            </defs>
                          </svg>
                          WhatsApp`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
            ]
        )
        .section-content__header
          span.section-content__header-text Мы в соцсетях
        +nav-list(
            [
                {
                    link: '#',
                    text: `
                      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#insta)"/>
                          <path d="M24.4475 10.38C24.4007 9.31727 24.2288 8.58669 23.9827 7.95363C23.7287 7.28165 23.338 6.68003 22.8261 6.1799C22.326 5.67199 21.7204 5.27731 21.0562 5.02733C20.4195 4.78115 19.6927 4.60931 18.6301 4.56245C17.5594 4.51163 17.2196 4.49988 14.5042 4.49988C11.7888 4.49988 11.4489 4.51163 10.3823 4.55848C9.31959 4.60534 8.58901 4.77734 7.9561 5.02336C7.28397 5.27731 6.68235 5.66802 6.18222 6.1799C5.67431 6.68003 5.27979 7.28562 5.02965 7.94981C4.78348 8.58669 4.61163 9.3133 4.56477 10.376C4.51395 11.4466 4.5022 11.7865 4.5022 14.5019C4.5022 17.2172 4.51395 17.5571 4.56081 18.6238C4.60766 19.6865 4.77966 20.417 5.02583 21.0501C5.27979 21.7221 5.67431 22.3237 6.18222 22.8238C6.68235 23.3317 7.28794 23.7264 7.95213 23.9764C8.58901 24.2226 9.31562 24.3944 10.3785 24.4413C11.4449 24.4883 11.785 24.4999 14.5004 24.4999C17.2157 24.4999 17.5556 24.4883 18.6223 24.4413C19.6849 24.3944 20.4155 24.2226 21.0484 23.9764C22.3925 23.4567 23.4552 22.3941 23.9749 21.0501C24.2209 20.4132 24.3929 19.6865 24.4398 18.6238C24.4866 17.5571 24.4984 17.2172 24.4984 14.5019C24.4984 11.7865 24.4944 11.4466 24.4475 10.38ZM22.6465 18.5456C22.6035 19.5224 22.4394 20.0498 22.3027 20.4015C21.9666 21.2728 21.2751 21.9643 20.4038 22.3003C20.0521 22.4371 19.5209 22.6012 18.5479 22.644C17.493 22.691 17.1767 22.7026 14.5081 22.7026C11.8396 22.7026 11.5193 22.691 10.4682 22.644C9.49144 22.6012 8.96399 22.4371 8.61236 22.3003C8.17877 22.1401 7.7841 21.8861 7.46375 21.554C7.13166 21.2297 6.8777 20.839 6.71745 20.4054C6.58071 20.0538 6.41664 19.5224 6.37376 18.5496C6.32675 17.4947 6.31515 17.1782 6.31515 14.5096C6.31515 11.8411 6.32675 11.5208 6.37376 10.4698C6.41664 9.49309 6.58071 8.96564 6.71745 8.61401C6.8777 8.18026 7.13166 7.78575 7.46772 7.46525C7.79188 7.13315 8.18259 6.87919 8.61633 6.7191C8.96796 6.58235 9.49937 6.41829 10.4722 6.37525C11.5271 6.3284 11.8436 6.31664 14.512 6.31664C17.1845 6.31664 17.5008 6.3284 18.5519 6.37525C19.5287 6.41829 20.0561 6.58235 20.4077 6.7191C20.8413 6.87919 21.236 7.13315 21.5564 7.46525C21.8884 7.78956 22.1424 8.18026 22.3027 8.61401C22.4394 8.96564 22.6035 9.4969 22.6465 10.4698C22.6934 11.5247 22.7051 11.8411 22.7051 14.5096C22.7051 17.1782 22.6934 17.4907 22.6465 18.5456Z" fill="white"/>
                          <path d="M14.5057 9.36401C11.6693 9.36401 9.36792 11.6652 9.36792 14.5018C9.36792 17.3383 11.6693 19.6395 14.5057 19.6395C17.3422 19.6395 19.6434 17.3383 19.6434 14.5018C19.6434 11.6652 17.3422 9.36401 14.5057 9.36401ZM14.5057 17.8345C12.6655 17.8345 11.1729 16.342 11.1729 14.5018C11.1729 12.6615 12.6655 11.169 14.5057 11.169C16.3459 11.169 17.8384 12.6615 17.8384 14.5018C17.8384 16.342 16.3459 17.8345 14.5057 17.8345Z" fill="white"/>
                          <path d="M21.0467 9.16085C21.0467 9.82322 20.5097 10.3603 19.8471 10.3603C19.1848 10.3603 18.6477 9.82322 18.6477 9.16085C18.6477 8.49834 19.1848 7.96143 19.8471 7.96143C20.5097 7.96143 21.0467 8.49834 21.0467 9.16085Z" fill="white"/>
                          <defs>
                          <linearGradient id="insta" x1="1.94711" y1="27.1107" x2="28.8176" y2="3.85" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#FFDD55"/>
                          <stop offset="0.5" stop-color="#FF543E"/>
                          <stop offset="1" stop-color="#C837AB"/>
                          </linearGradient>
                          </defs>
                      </svg>
                      Instagram`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
                {
                    link: '#',
                    text: `
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="#2787F5"/>
                          <path d="M20.4369 15.271C20.1459 14.9035 20.2291 14.74 20.4369 14.4115C20.4406 14.4078 22.8429 11.0883 23.0904 9.9625L23.0919 9.96175C23.2149 9.5515 23.0919 9.25 22.4971 9.25H20.5291C20.0281 9.25 19.7971 9.50875 19.6734 9.79825C19.6734 9.79825 18.6714 12.1968 17.2539 13.7515C16.7964 14.2008 16.5849 14.3448 16.3351 14.3448C16.2121 14.3448 16.0209 14.2008 16.0209 13.7905V9.96175C16.0209 9.46975 15.8806 9.25 15.4659 9.25H12.3714C12.0571 9.25 11.8704 9.4795 11.8704 9.69325C11.8704 10.1598 12.5791 10.267 12.6526 11.5795V14.4273C12.6526 15.0513 12.5394 15.166 12.2881 15.166C11.6191 15.166 9.99538 12.7578 9.03313 10.0015C8.83888 9.46675 8.64913 9.25075 8.14438 9.25075H6.17563C5.61388 9.25075 5.50063 9.5095 5.50063 9.799C5.50063 10.3105 6.16963 12.8538 8.61163 16.2138C10.2391 18.5073 12.5311 19.75 14.6161 19.75C15.8694 19.75 16.0224 19.474 16.0224 18.9993C16.0224 16.8078 15.9091 16.6008 16.5369 16.6008C16.8279 16.6008 17.3289 16.7448 18.4989 17.851C19.8361 19.1628 20.0559 19.75 20.8044 19.75H22.7724C23.3334 19.75 23.6176 19.474 23.4541 18.9295C23.0799 17.7843 20.5509 15.4285 20.4369 15.271Z" fill="white"/>
                        </svg>
                        Вконтакте`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
                {
                    link: '#',
                    text: `
                      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="#1877F2"/>
                        <path d="M17.3571 8.48875H19.0004V5.62675C18.7169 5.58775 17.7419 5.5 16.6064 5.5C14.2371 5.5 12.6141 6.99025 12.6141 9.72925V12.25H9.99962V15.4495H12.6141V23.5H15.8196V15.4503H18.3284L18.7266 12.2508H15.8189V10.0465C15.8196 9.12175 16.0686 8.48875 17.3571 8.48875Z" fill="white"/>
                      </svg>
                      Facebook`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
                {
                    link: '#',
                    text: `
                     <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="#FF0000"/>
                       <path d="M23.1019 9.94676L23.1244 10.0938C22.9069 9.32201 22.3196 8.72651 21.5734 8.50976L21.5576 8.50601C20.1544 8.12501 14.5076 8.12501 14.5076 8.12501C14.5076 8.12501 8.87511 8.11751 7.45761 8.50601C6.69711 8.72651 6.10911 9.32201 5.89536 10.078L5.89161 10.0938C5.36736 12.832 5.36361 16.1223 5.91486 19.054L5.89161 18.9055C6.10911 19.6773 6.69636 20.2728 7.44261 20.4895L7.45836 20.4933C8.86011 20.875 14.5084 20.875 14.5084 20.875C14.5084 20.875 20.1401 20.875 21.5584 20.4933C22.3196 20.2728 22.9076 19.6773 23.1214 18.9213L23.1251 18.9055C23.3636 17.632 23.5001 16.1665 23.5001 14.6695C23.5001 14.6148 23.5001 14.5593 23.4994 14.5038C23.5001 14.4528 23.5001 14.392 23.5001 14.3313C23.5001 12.8335 23.3636 11.368 23.1019 9.94676ZM12.7061 17.2383V11.7685L17.4056 14.5075L12.7061 17.2383Z" fill="white"/>
                     </svg>
                      YouTube`,
                    attrs: {
                        class: 'nav-list__link--no-arrow'
                    }
                },
            ]
        )
