mixin product()
  a.product(href="catalog.html")
    .product__img
      img(src="img/content/tovar-1.png" alt="Фторсиликоновые кольца любой сл...")
    h3.product__title Фторсиликоновые кольца любой сл...
