mixin product-tag(tag)
  if(tag === 'a')
    a.product(href="catalog.html")
      block
  else
    .product
      block

mixin product({category, tag})
  +product-tag(tag)
    .product__img
      img(src="img/content/tovar-1.png" alt="Фторсиликоновые кольца любой сл...")
    .product__content
      h3.product__title Умные часы Apple Watch SE GPS 44мм Aluminum Case with...
      if(category)
        .product__wrap
          +price({}).price--b-none.product__price
          a.product__link.product__link--dotted(href="#modal-more" data-fancybox="") Характеристики
          a.btn.btn--s-middle.btn--main-b.product__btn(href="#modal-message-order" data-fancybox="") Заказать
