.icon-btn svg {
  display: block;
}

.icon-btn--header-phone svg {
  width: 20px;
  height: 17px;
}

.icon-btn--header-email svg {
  width: 21px;
  height: 16px;
}

.icon-btn--blue svg {
  width: 17px;
  height: 14px;
}