mixin tags-list({list, tagLinkTag})
  mixin TagLinkTemplate({ text, className, attrs })
    if tagLinkTag === 'span'
      span.tags-list__link.tag-link(class= className)&attributes(attrs)!= text

    else if tagLinkTag === 'a'
      a.tags-list__link.tag-link(class= className)&attributes(attrs)!= text

    else if tagLinkTag === 'checkbox'
      label.tags-list__label
        input.tags-list__input(type="checkbox")&attributes(attrs)
        span.tags-list__link.tag-link(class= className)!= text

    else if tagLinkTag === 'radio'
      label.tags-list__label
        input.tags-list__input(type="radio")&attributes(attrs)
        span.tags-list__link.tag-link(class= className)!= text

    else
      div.tags-list__link.tag-link(class= className)&attributes(attrs)!= text

  ul.tags-list&attributes(attributes)
    each item, i in list
      li.tags-list__item
        - const { text, attrs, className } = item

        +TagLinkTemplate({text, className, attrs})

