.author {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.author__img {
  position: relative;
  display: inline-block;
  width: 108px;
  height: 108px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;

  &::after {
    @include mask-photo(url("data:image/svg+xml,%0A%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 0H0V54H54V0ZM27 53C41.3594 53 53 47.8 53 27C53 6.2 41.3594 1 27 1C12.6406 1 1 6.2 1 27C1 47.8 12.6406 53 27 53Z' fill='white'/%3E%3C/svg%3E%0A"))
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $screen-xl) {
    width: 122px;
    height: 122px;
  }
}

.author__fullname {
  @include text-small;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;

  @media (min-width: $screen-xl) {
    @include xl-text-small;
  }
}

.author__desc {
  @include text-small;
  opacity: $opacity;

  @media (min-width: $screen-xl) {
    @include xl-text-small;
  }
}
