mixin author()
  a.author(href="")
    .author__img
      img.author__img(src="img/content/user-3.jpg" alt="Имя фамилия")
    .author__info
      strong.author__fullname Имя фамилия
      p.author__desc Если нужно, здесь будет небольшое описание

