mixin author()
  a.author(href="")
    .author__img
      img(src="img/content/main-slide-1.jpg" alt="Имя фамилия")
    .author__info
      strong.author__fullname Имя фамилия
      p.author__desc Если нужно, здесь будет небольшое описание

