include ../blocks/components/logo/logo.pug
include ../blocks/components/tags-list/tags-list.pug
include ../blocks/components/burger/burger.pug

include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
