include ../blocks/components/logo/logo.pug
include ../blocks/components/tags-list/tags-list.pug
include ../blocks/components/burger/burger.pug
include ../blocks/components/to-top/to-top.pug
include ../blocks/components/socials/socials.pug
include ../blocks/components/title-wrap/title-wrap.pug
include ../blocks/components/form/form.pug
include ../blocks/components/field-text/field-text.pug
include ../blocks/components/field-file/field-file.pug
include ../blocks/components/comment/comment.pug
include ../blocks/components/collapse/collapse.pug

include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/main-slider/main-slider.pug
include ../blocks/project/contacts/contacts.pug
include ../blocks/project/nav-list/nav-list.pug
include ../blocks/project/write/write.pug
include ../blocks/project/block-form/block-form.pug
include ../blocks/project/faq/faq.pug
include ../blocks/project/reviews/reviews.pug
include ../blocks/project/partner/partner.pug
include ../blocks/project/advantages/advantages.pug
include ../blocks/project/production/production.pug
include ../blocks/project/product/product.pug
