.production-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $screen-xl) {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    margin-bottom: 16px;
  }
}

.production-list__item {
  @media (max-width: $screen-xl - 1) {
    //margin-left: -16px;
    //margin-right: -16px;
    //padding-left: 16px;
    //padding-right: 16px;
    border-bottom: 1px solid $color-line-border;

    &:first-child {
      border-top: 1px solid $color-line-border;
    }
  }
}

.production-list__item--no-border-top {
  &:first-child {
    border-top: none;
  }
}
