mixin production-list({className})
  .section-content&attributes(attributes)
    .section-content__wrap
      ul.production-list
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
      +is-loading('Loading...')
