mixin production-list({className})
  .section-content&attributes(attributes)
    .section-content__wrap.section-content__wrap--news
      ul.production-list
        li.production-list__item(class= className)
          +product-item()
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
        li.production-list__item
          +product-item()
      +is-loading('Loading...')
