.product-item {
  display: flex;
  text-decoration: none;
  padding: 25px 16px 15px;

  @media (min-width: $screen-xl) {
    //flex-direction: row-reverse;
    //background-color: $color-lighten;
    background-color: $white;
    border-radius: $border-radius-xl;
    padding: 16px 24px 29px 1px;
  }
}

.product-item__category {
  @include text-small;
  display: block;
  color: #808080;
  margin-bottom: 8px;
  cursor: pointer;

  @media (min-width: $screen-xl) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.product-item__content {
  flex-grow: 1;

  @media (min-width: $screen-xl) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product-item__content-wrap {
  @media (min-width: $screen-xl) {
    max-width: 460px;
    margin-right: 15px;
  }
}

.product-item__img {
  height: 122px;
  width: 122px;
  flex-shrink: 0;
  margin-right: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $screen-xl) {
    padding: 10px;
    margin-right: 24px;
    width: 227px;
    height: 180px;
    margin-top: -15px;
    margin-bottom: -28px;
    border-top-left-radius: $border-radius-xl;
    border-bottom-left-radius: $border-radius-xl;
    background-color: #F5F5F6;
  }
}

.product-item__title {
  @include text-normal();
  font-weight: 500;
  color: $text-color;
  margin-bottom: 6px;

  @media (min-width: $screen-xl) {
    @include xl-text-normal;
  }
}

.product-item__desc {
  @include text-small();
  @include line-clamp(3);
  color: $text-color;
  opacity: 0.5;
  margin-bottom: 10px;
  min-height: 51px;

  @media (min-width: $screen-xl) {
    @include line-clamp(4);
    @include xl-text-small();
    opacity: 1;
    min-height: 80px;
    margin-bottom: 7px;
  }
}

.product-item__desc p {
  margin-bottom: 0;
}

.product-item__value {
  @include text-small();
  color: $text-color;
  margin-right: 6px;

  &:first-child {
    margin-right: 4px;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $screen-xl) {
    margin-right: 0;
  }
}

.product-item__new-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;

  @media (min-width: $screen-xl) {
    @include xl-text-normal;
    //margin-left: -16px;
  }
}

.product-item__from {
  @include text-small;
  font-weight: 400;
}


.product-item__old-price {
  opacity: 0.5;
  text-decoration: line-through;

  @media (min-width: $screen-xl) {
    @include xl-text-small;
    opacity: 1;
    color: #808080;
    text-decoration: none;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='7' viewBox='0 0 62 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M1.06739 5.37442C8.4209 4.4222 15.8445 3.80489 23.2808 3.3075C35.5561 2.48646 47.9041 1.64932 60.1107 1.8218' stroke='%23FF0000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}


.product-item__discount {
  display: inline-block;
  vertical-align: top;
  color: $white;
  background-color: $color-danger;
  padding: 2px 3px;
  margin-left: 2px;
  border-radius: 3px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.product-item__row {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $screen-xl) {
    align-items: flex-end;
    margin-bottom: 19px;
  }
}

.product-item__row-micro {
  margin-right: 8px;
  @media (min-width: $screen-xl) {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-right: 0;
  }
}

.product-item__btn {
  @media (min-width: $screen-xl) {
    letter-spacing: 0.15px;
    padding: 5px 16.5px;
  }
}

.product-item__group-link {
  display: block;
}
