.menu-ios__list {
  @include ul-none;
  background-color: $white;
  margin-bottom: 8px;
  border-radius: 14px;
  overflow: hidden;

  @media (min-width: $screen-xl) {
    border-radius: 6px;
  }
}

.menu-ios__img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-ios__list:last-child {
  margin-bottom: 0;
}

.menu-ios__item:not(:last-child) {
  border-bottom: 1px solid rgba(188, 188, 188, 0.33);
}

.menu-ios__link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  border-radius: 0;
  border: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.4px;
  color: #037EE5;

  @media (min-width: $screen-xl) {
    font-size: 16px;
    line-height: 25px;
  }
}
