mixin block-content()
  +section-content({
    title: 'Билборд'
  }).block-content(style="background-image: url('img/decor/decor-interview.jpg')")
    p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
    p Идейные соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
    p Идейные соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших.
