.rev-img {
  position: relative;
  display: block;
  height: 192px;
  border: 1px solid $color-line-border;
  border-radius: $border-radius;
  overflow: hidden;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $screen-xl) {
    height: 221px;
  }
}

.rev-img__info {
  display: none;

  @media (min-width: $screen-xl) {
    @include xl-text-small;
    color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(239, 239, 243, 0.16) 0%, rgba(239, 239, 243, 0.95) 47.93%, #EFEFF3 100%);
    transition: $time;
    z-index: -1;
    opacity: 0;

  }
}

.rev-img:hover .rev-img__info {
  opacity: 1;
  z-index: 1;

}
