.nav-list {
  @include text-big;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list__item:last-child .nav-list__link {
  border-bottom: 0;
}

.nav-list__link {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 13px 16px;
  text-decoration: none;
  color: $text-color;
  border-bottom: 1px solid $color-line-border;

  &::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $color-line-border;
    border-right: 2px solid $color-line-border;
    transform: rotate(-45deg) translateY(-50%);
  }

  &--color {
    color: $color-main;
  }

  &--no-arrow {
    &::after {
      display: none;
    }
  }
}

.nav-list__subitem-wrap {
  padding-left: 25px;
}

.nav-list__subitem {
  @include text-normal;
  display: block;
  color: #202020;
  opacity: .6;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
}

.nav-list__link svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
