mixin reviews({filter, title})
  .section-content.reviews
    +title-wrap(title)
    .section-content__wrap.default-slider
      if(filter)
        ul.tab-filter
          li.tab-filter__item
            a.tab-filter__btn.active(data-btn-filter="all") Все
          li.tab-filter__item
            a.tab-filter__btn(data-btn-filter="letter") Письма
          li.tab-filter__item
            a.tab-filter__btn(data-btn-filter="video") Видео
      .swiper-container.js-auto-slider
        .swiper-wrapper
          .swiper-slide.default-slider__width(data-filter="letter")
            a.rev-img(href="img/content/review-1.jpg" data-fancybox="")
              img(src="img/content/review-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide.default-slider__width(data-filter="letter")
            a.rev-img(href="img/content/review-1.jpg" data-fancybox="")
              img(src="img/content/review-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide.default-slider__width(data-filter="letter")
            a.rev-img(href="img/content/review-1.jpg" data-fancybox="")
              img(src="img/content/review-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide.default-slider__width(data-filter="video")
            a.rev-img(href="img/content/review-1.jpg" data-fancybox="")
              img(src="img/content/review-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide.default-slider__width(data-filter="video")
            a.rev-img(href="img/content/review-1.jpg" data-fancybox="")
              img(src="img/content/review-1.jpg" alt="Резинотехнические изделия")
