.production-all {
  @media (min-width: $screen-xl) {
    background-color: transparent;
    padding: 0;
  }

  @media (max-width: $screen-xl - 1) {
    background-color: #efeff4;
    .section-content__btn {
      margin-top: 10px;
    }
  }
}

.production-all .section-content__wrap {
  padding: 0;
}
