mixin about()
  .about&attributes(attributes)
    .about__row
      .about__img
        img(src="img/content/img-about.jpg", alt="«Техно Эласт»")
      section.about__content
        h2.about__title «Техно Эласт»
        .about__desc
          p мы производим и продаем резинотехнические изделия
