.about {
  padding: 16px;
  background-color: rgba($white, 0.5);
  border-radius: $border-radius-xl;
  border: 1px solid $color-line-border-xl;
}

.about__row {
  display: flex;
}

.about__img {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    @include mask-photo(url("data:image/svg+xml,%0A%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 0H0V54H54V0ZM27 53C41.3594 53 53 47.8 53 27C53 6.2 41.3594 1 27 1C12.6406 1 1 6.2 1 27C1 47.8 12.6406 53 27 53Z' fill='%23f2f4f5'/%3E%3C/svg%3E%0A"));
  }
}

.about__title {
  @include xl-text-small;
  margin-bottom: 0px;
}

.about__desc {
  color: #808080;
  @include xl-text-thin;

  p {
    margin-bottom: 0;
  }
}
