mixin title-wrap(name)
	section.title-wrap&attributes(attributes)
		h2.title-normal.title-wrap__title
			span.title-wrap__name= name
			span.emoji-row
				img(src="img/icon/emoji-pen.svg" alt="")
				img(src="img/icon/emoji-cloud.png", srcset="img/icon/emoji-cloud@2x.png" alt="")
				img(src="img/icon/emoji-smile.png", srcset="img/icon/emoji-smile@2x.png" alt="")
		block
		.title-wrap__desc
			p Разнообразный и богатый опыт дальнейшее развитие
