.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;


  @media (max-width: $screen-xl - 1) {
    padding: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid $color-line-border;
  }
}

.title-wrap__title {
  font-weight: 600;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.title-wrap--personals {
  @media (min-width: $screen-xl) {
    margin-bottom: 41px;
  }
}