mixin page-header()
  header.page-header
    .container
      .page-header__row
        a.icon-btn.icon-btn--header-phone(href='#')
          svg(width='20' height='17')
            use(href='img/symbols.svg#icon-phone')
        +logo('index.html')
          img(src='img/icon/logo.svg', alt='Логотип', width='116', height='13')
        a.icon-btn.icon-btn--header-mail(href='#')
          svg(width='21' height='16')
            use(href='img/symbols.svg#icon-mail')

