mixin page-header({modalHeader})
  header.page-header
    .container
      .page-header__row
        if(modalHeader !== true)
          a.icon-btn.icon-btn--header-phone(href='#modal-callback' data-fancybox="")
            svg(width='20' height='17')
              use(href='img/symbols.svg#icon-phone')
        else
          a.icon-btn(href='#' data-fancybox-close="")
            svg(width='17' height='14')
              use(href='img/symbols.svg#icon-back')
        +logo('index.html')
          img(src='img/icon/logo.svg', alt='Логотип', width='116', height='13')
        if(modalHeader !== true)
          a.icon-btn.icon-btn--header-mail(href='#modal-message' data-fancybox="")
            svg(width='21' height='16')
              use(href='img/symbols.svg#icon-mail')
        else
          a.icon-btn(href='#' data-fancybox-close="")
            svg(width='14' height='14')
              use(href='img/symbols.svg#icon-close')
