mixin interview()
  .section-content.interview
    +title-wrap('Хотите списать все свои долги?')
    .section-content__wrap.interview__wrap
      +form()(autocomplete="off").interview__form.js-form
        +fieldset().form__fieldset--width.js-check-group
          p.form__count #[strong 1] / 3
          h3.form__legend Сумма вашего долга?
          .form__group-interview
            +field-checkbox([
              {
                title: 'Менее 400 000 руб.',
                attrs: {
                  name: 'check0',
                }
              },
            ])
            +field-checkbox([
              {
                title: 'От 400 000 до 1 000 000 руб.',
                attrs: {
                    name: 'check0',
                }
              },
            ])
            +field-checkbox([
              {
                title: 'От 1 000 000 до 3 000 000 руб.\n',
                attrs: {
                    name: 'check0',
                }
              },
            ])
            +field-checkbox([
              {
                title: 'Более 3 000 000 руб.',
                attrs: {
                  name: 'check0',
                }
              },
            ])
          .form__btn-group
            button.btn.btn--main.interview__btn.js-form-next(type="button") Далее
        +fieldset().d-none.form__fieldset--width.js-check-group
          p.form__count #[strong 2] / 3
          h3.form__legend Вы хотите списать свой долг или произвести его реструктуризацию?
          .form__group-interview
            +field-radio([
              {
                title: 'Списать долг',
                mods: '',
                attrs: {
                  name: 'radio-1',
                  checked: true,
                }
              },
              {
                title: 'Реструктурировать долг',
                mods: '',
                attrs: {
                  name: 'radio-1',
                }
              },
              {
                title: 'Пока не знаю',
                mods: '',
                attrs: {
                    name: 'radio-1',
                }
              },
            ], '')
          .form__btn-group
            button.btn.interview__btn-icon.js-form-prev(type="button")
              svg(width="17" height="13")
                use(href="img/symbols.svg#icon-right")
            button.btn.btn--main.interview__btn.js-form-next(type="button") Далее
        +fieldset().d-none.form__fieldset--width.js-check-group
          p.form__count #[strong 3] / 3
          h3.form__legend Получите бесплатную проверку кредитной истории, заполнив форму
          .form__group-interview
            +field-text({
              title: 'Моё имя *',
              helpText: 'Заполните это поле',
              mods: '',
              val: '',
              attrs: {
                'data-required': 1,
                name: 'text',
                type: 'text',
              }
            }).js-field.form__mb
            +field-text({
              title: 'Мой телефон *',
              helpText: 'Заполните это поле',
              mods: '',
              val: '',
              attrs: {
                'data-required': 1,
                name: 'text',
                type: 'tel',
              }
            }).js-field.form__mb
          .form__btn-group
            button.btn.interview__btn-icon.js-form-prev(type="button")
              svg(width="17" height="13")
                use(href="img/symbols.svg#icon-right")
            button.btn.btn--main.interview__btn Отправить
          p.form__warning.interview__mt.d-none Нажимая кнопку «Отправить» я даю свое #[a(href="#") согласие на обработку персональных данных]
