mixin interview()
  .section-content.interview
    +title-wrap('Хотите списать все свои долги?')
    .section-content__wrap
      +form()
        +fieldset()
          p.form__count #[strong 1] / 3
          h3.form__legend Сумма вашего долга?
          .form__group-interview
            +field-checkbox([
              {
                title: 'Менее 400 000 руб.',
                attrs: {
                  name: 'check0',
                }
              },
            ])
            +field-checkbox([
              {
                title: 'От 400 000 до 1 000 000 руб.',
                attrs: {
                    name: 'check0',
                }
              },
            ])
            +field-checkbox([
              {
                title: 'От 1 000 000 до 3 000 000 руб.\n',
                attrs: {
                    name: 'check0',
                }
              },
            ])
            +field-checkbox([
              {
                title: 'Более 3 000 000 руб.',
                attrs: {
                  name: 'check0',
                }
              },
            ])
          button.btn
          button.btn.btn--main.interview__btn(type="button") Далее
        +fieldset()
          p.form__count #[strong 2] / 3
          h3.form__legend Вы хотите списать свой долг или произвести его реструктуризацию?
          .form__group-interview
            +field-radio([
              {
                title: 'Списать долг',
                mods: '',
                attrs: {
                  name: 'radio-1',
                  checked: true,
                }
              },
              {
                title: 'Реструктурировать долг',
                mods: '',
                attrs: {
                  name: 'radio-1',
                }
              },
              {
                title: 'Пока не знаю',
                mods: '',
                attrs: {
                    name: 'radio-1',
                }
              },
            ], '')
        +fieldset()
          p.form__count #[strong 3] / 3
          h3.form__legend Получите бесплатную проверку кредитной истории, заполнив форму
          .form__group-interview
            +field-text({
              title: 'Название',
              isTextarea: true,
              helpText: 'Подсказка',
              mods: '',
              val: '',
              attrs: {
                name: 'comment',
              }
            })
            +field-text({
              title: 'Название',
              isTextarea: true,
              helpText: 'Подсказка',
              mods: '',
              val: '',
              attrs: {
                name: 'comment',
              }
            })
