.privilege {
  display: block;
  color: inherit;
  border-radius: 6px;
  border: 1px solid #EAECEE;
  overflow: hidden;

  transition: $time;

  &:hover {
    background-color: $color-lighten;

    .privilege__img {
      background-color: $white;

      &::after {
        @include mask-photo(url("data:image/svg+xml,%0A%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 0H0V54H54V0ZM27 53C41.3594 53 53 47.8 53 27C53 6.2 41.3594 1 27 1C12.6406 1 1 6.2 1 27C1 47.8 12.6406 53 27 53Z' fill='%23f2f4f5'/%3E%3C/svg%3E%0A"))
      }
    }
  }
}


.privilege__content {
  display: block;
  color: inherit;
  padding: 24px;
}

.privilege__img {
  position: relative;
  display: block;
  width: 72px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  background-color: #f5f5f6;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &::after {
    @include mask-photo(url("data:image/svg+xml,%0A%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 0H0V54H54V0ZM27 53C41.3594 53 53 47.8 53 27C53 6.2 41.3594 1 27 1C12.6406 1 1 6.2 1 27C1 47.8 12.6406 53 27 53Z' fill='white'/%3E%3C/svg%3E%0A"));
    transition: $time;
  }
}

.privilege__title {
  @include xl-text-normal();
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}

.privilege__subtitle {
  @include xl-text-small();
  color: #808080;
  margin: 0;
}

.privilege__header {
  text-align: center;
  margin-bottom: 16px;
}

.privilege__list {
  @include ul-none;
  @include xl-text-small();
  color: #808080;
}

.privilege__item {
  min-height: 24px;
  padding-left: 36px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px;


  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--smile {
    background-image: url("../img/icon/icon-emoji-smile.png");
  }

  &--sad {
    background-image: url("../img/icon/icon-emoji-sad.png");
  }
}

.privilege__item-row {
  display: flex;
  align-items: center;
  min-height: 24px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
  }
}

.privilege__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  background-color: $color-lighten;
}

.privilege__price {
  margin-bottom: 12px;

  .price__sale-del,
  .price__sub {
    font-size: 14px;
    line-height: 20px;
  }

  .price__value {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    span {
      @include text-big;
    }
  }

  .sale {
    align-self: center;
    font-size: 12px;
    line-height: 14px;
  }
}

.privilege__btn {
  background: #FAFBFC;
  border: 1px solid #EAECEE;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04), inset 0px 2px 0px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  color: $color-primary;
  min-width: 144px;

  &:hover {
    background-color: #F4F4F8;
  }
}
