mixin tovar()
  a.tovar(href="#")
    .tovar__content
      span.tovar__category Название категории
      h3.tovar__title Фторкаучуковые кольца
      span.tovar__commet Комментарий
    .tovar__img
      img(src="img/content/product-item-2.png" alt="Фторкаучуковые кольца")
