mixin tovar(video)
  a.tovar(href="#")
    .tovar__content
      span.tovar__category Название категории
      section.tovar__wrap-content
        h3.tovar__title Фторкаучуковые кольца
        span.tovar__commet Комментарий
    .tovar__img
      if(video === true)
        video(src="https://img.artlebedev.ru/everything/thunder/morda/cover.mp4"  playsinline=""  autoplay="" muted loop)
      else
        img(src="img/content/product-item-2.png" alt="Фторкаучуковые кольца")
