// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;

$font-size--h4:               rem(18px) !default;

$line-height:                 1.5 !default;

$screen-lg:                   992px !default;

$opacity:                     0.7 !default;
$transition-time:             0.3s !default;

$z-index-modal:               100 !default;

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  //overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  background-color: #fff;

  @media (min-width: $screen-xl) {
    position: relative;
    border-radius: 6px;
  }

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__dialog {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-xl) {
      width: 1170px;
      margin-left: auto;
      margin-right: auto;
      //height: auto;

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }

      .block-form {
        border: 0;
        width: 100%;
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        padding: 108px 0;
        //padding-left: 0;
        //padding-right: 0;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    //background-color: #fff;
    outline: 0;
  }

  &__header {
    //padding: 0 rem(40px) 0 rem(15px);
    flex-shrink: 0;
  }

  &__title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: $font-size--h4;
    line-height: 1.4;
    font-weight: 700;
    color: currentColor;
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 5px;
    right: 5px;
  }

  &__body {
    padding: 0 rem(15px);
    flex-grow: 1;
  }

  &__footer {
    padding: rem(15px);
    flex-shrink: 0;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: ($z-index-modal - 1);
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.modal .page-header {
  margin-bottom: 0px;
}

.modal__body--bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal__body--ios {
  padding: 35px 10px;
}

@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal .fancybox-close-small  {
  display: none;
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal__xl-close {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;

  svg {
    width: 22px;
    height: 22px;
    fill: #808080 !important;
  }
}

.modal--char {
  .table-char__list {
    max-height: initial;
  }

  @media (min-width: $screen-xl) {
    .modal__body {
      max-width: 649px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 54px;
    }

    .line-clump {
      display: block;
    }
  }
}

