mixin main-slider()
  section.main-slider
    header.main-slider__header
      h1.title-big.main-slider__title Резинотехнические изделия
    .main-slider__container
      .swiper-container.js-main-slider
        .swiper-wrapper
          .swiper-slide
            .main-slider__slide
              img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide
            .main-slider__slide
              img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide
            .main-slider__slide
              img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide
            .main-slider__slide
              img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
          .swiper-slide
            .main-slider__slide
              img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
      .swiper-pagination.main-slider__pagination
    footer.main-slider__footer
      h2.title-small.main-slider__footer-title Произведем формовые резинотехнические изделия под заказ по вашим чертежам
      .main-slider__desc
        ul
          li – Перво тезисное преимущество
          li – Второе тезисное преимущество
          li – И вишенка на торте
      a.btn.btn--main.main-slider__btn(href="#" data-fancybox="") Обсудить проект
