
.main-slider__header {
  padding: 16px 16px;
}

.main-slider__title {
  margin-bottom: 0;
}

.main-slider__container {
  position: relative;
  border-top: 1px solid $color-line-border;
  border-bottom: 1px solid $color-line-border;
}

.main-slider__pagination {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;

  line-height: initial;
  margin-left: auto;
  margin-right: auto;
}

.main-slider__desc {
  color: $text-color;
  margin-bottom: 24px;
}

.main-slider__desc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-slider__footer {
  padding: 16px 16px 32px;
}

.main-slider__btn {
  width: 100%;
}

.main-slider__slide img {
  width: 100%;
}

.main-slider__footer-title {
  margin-bottom: 8px;
}

.main-slider__pagination .swiper-pagination-bullet {
  transition: $time;
  background-color: $color-bullet;
  width: 7px;
  height: 7px;
  margin-left: 1px;
  margin-right: 1px;
  //opacity: 1;
  //border: 1px solid rgba($white, 0.5);
}

.main-slider__pagination .swiper-pagination-bullet-active {
  //background: $color-active-bullet;
}
