mixin faq()
  .faq
    +title-wrap('Часто задоваемые вопросы')
    .faq__content
      +collapse({
        title: 'Какие сроки изготовления?',
        desc: 'Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом в значительной степени.'
      }).collapse--faq.faq__content-item
      +collapse({
        title: 'Какие сроки изготовления?',
        desc: 'Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом в значительной степени.'
      }).collapse--faq.faq__content-item
      +collapse({
        title: 'Какие сроки изготовления?',
        desc: 'Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом в значительной степени.'
      }).collapse--faq.faq__content-item
      +collapse({
        title: 'Какие сроки изготовления?',
        desc: 'Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом в значительной степени.'
      }).collapse--faq.faq__content-item
      +collapse({
        title: 'Какие сроки изготовления?',
        desc: 'Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом в значительной степени.'
      }).collapse--faq.faq__content-item
      +collapse({
        title: 'Какие сроки изготовления?',
        desc: 'Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом в значительной степени.'
      }).collapse--faq.faq__content-item
