.rubric {
  position: relative;
  //display: block;
  border-radius: $border-radius;
  border: 1px solid #EAECEE;
  overflow: hidden;
  background-color: #F5F5F7;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    //width: 100%;
    //height: 100%;
    //object-fit: cover;
    //position: absolute;
    //top: 0;
    //left: 0;
    //bottom: 0;
    //right: 0;
    width: auto;
    height: auto;
    max-height: 100%;
  }

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $screen-xl) {

    &:hover {
      @include hover-shadow;
    }
  }
}

.rubric__info {
  @include text-big;
  font-weight: 500;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 97px;
  transition: $time;
  background-image: linear-gradient(360deg, #F5F5F7 64.58%, rgba(245, 245, 247, 0) 100%);

  @media (min-width: $screen-xl) {
    @include xl-text-big;
    letter-spacing: 0.1px;
    padding: 20px;
  }
}
