mixin partner()
  .section-content.partner
    +title-wrap('Клиенты')
    .section-content__wrap.default-slider.partner__content-wrap
      .swiper-container.js-auto-slider
        .swiper-wrapper.partner__slide-wrap
          .swiper-slide.default-slider__width
            a.brand
              img(src="img/content/brand-1.png" alt="Брэнд")
          .swiper-slide.default-slider__width
            a.brand
              img(src="img/content/brand-2.png" alt="Брэнд")
          .swiper-slide.default-slider__width
            a.brand
              img(src="img/content/brand-3.png" alt="Брэнд")
