.contacts__wrap {
  padding: 16px 16px 24px;
}

.contacts__content {
  @include text-big;
  margin-bottom: 24px;
}

.contacts__item {
  margin-bottom: 22px;

  p {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
