mixin modal-more()
  +modal('modal-more').modal--char
    .modal__body
      +description()
      hr.line
      +characteristics('Название раздела')
      hr.line
      +characteristics('Твердость')
      hr.line
      +characteristics('Прочность')
