.grid-row {
  @include row(16px, 16px, 16px, 32px, 32px);

  &--mb32 .grid-row__col:not(:nth-child(n+3)) {
    margin-bottom: 32px;
  }

  @media (min-width: $screen-xl) {
    &--xl-reverce {
      flex-direction: row-reverse;
    }

    &--xl-center {
      align-items: center;
    }

    &--xl-mb40 .grid-row__col {
      margin-bottom: 40px;
    }
  }
}

.grid-row__col {
  @include make-col(12, 12, 16px);
  //margin-bottom: 16px;

  &--4 {
    @include make-col(4, 12, 16px);
  }

  &--xl-3 {
    @include col(xl, 3, 12, 16px);
  }

  &--xl-2_9 {
    @include col(xl, 2.9, 12, 16px);
  }

  &--xl-9_1 {
    @include col(xl, 9.1, 12, 16px);
  }

  &--xl-auto {
    @media (min-width: $screen-xl) {
      flex-basis: auto;
    }
  }
}
