extends pug/layout.pug

block meta
  title Все новости
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Главная ›', className: '',
          attrs: {href: 'index.html',}
        },
        {
          text: 'Новости', className: '',
        }
      ]
    )
    +main-content({
        title: 'Новости',
        contentSlider: false,
        contentFooter: false,
        className: '',
    })
    .section-content
      .section-content__wrap.section-content__wrap--news.default-slider
        ul.tab-filter
          li.tab-filter__item
            a.tab-filter__btn.active(data-btn-filter="all") Все
          li.tab-filter__item
            a.tab-filter__btn(data-btn-filter="production") Производство
          li.tab-filter__item
            a.tab-filter__btn(data-btn-filter="vacancy") Вакансии
        .swiper-container.js-auto-slider
          .swiper-wrapper.default-slider__column
            .swiper-slide.default-slider__item(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item(data-filter="vacancy")
              +preview()
            .swiper-slide.default-slider__item(data-filter="vacancy")
              +preview()
      +is-loading('Loading...')
block footer
  +page-footer()
