extends pug/layout.pug

block meta
  title Все новости
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Главная ›', className: '',
          attrs: {href: 'index.html',}
        },
        {
          text: 'Новости', className: '',
        }
      ]
    )
    +main-content({
        title: 'Новости',
        contentSlider: false,
        contentFooter: false,
        className: '',
    })
    .section-content.section-content--news
      .section-content__wrap.section-content__wrap--news.default-slider
        ul.tab-filter.tab-filter--news.d-xl-none 
          li.tab-filter__item
            a.tab-filter__btn.active(data-btn-filter="all") Все
          li.tab-filter__item
            a.tab-filter__btn(data-btn-filter="production") Производство
          li.tab-filter__item
            a.tab-filter__btn(data-btn-filter="vacancy") Вакансии
        .category-filter.d-none.d-xl-block 
          +title-wrap('Новости')
          ul.category-filter__list
            li.category-filter__item
              +news-category({
                activeClass: 'active',
                categoryValue: 'all',
                categoryName: 'Все',
                srcImage: 'img/content/news-category-item-1.png',
              })
            li.category-filter__item
              +news-category({
                activeClass: '',
                categoryValue: 'production',
                categoryName: 'Производство',
                srcImage: 'img/content/news-category-item-2.png',
              })
            li.category-filter__item
              +news-category({
                activeClass: '',
                categoryValue: 'vacancy',
                categoryName: 'Вакансии',
                srcImage: 'img/content/news-category-item-1.png',
              })
        .swiper-container.js-auto-slider
          .swiper-wrapper.default-slider__column
            .swiper-slide.default-slider__item.default-slider__item--news(data-filter="production1")
              +preview()
            .swiper-slide.default-slider__item.default-slider__item--news(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item.default-slider__item--news(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item.default-slider__item--news(data-filter="production")
              +preview()
            .swiper-slide.default-slider__item.default-slider__item--news(data-filter="vacancy")
              +preview()
            .swiper-slide.default-slider__item.default-slider__item--news(data-filter="vacancy")
              +preview()
      +is-loading('Loading...')
block footer
  +page-footer()
