extends pug/layout.pug

block meta
  title Все новости
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Главная ', className: '',
          attrs: {href: 'index.html',}
        },
        {
          text: 'Новости', className: '',
        }
      ]
    )
    +main-content({
        title: 'Новости',
        contentSlider: false,
        contentFooter: true,
        className: '',
    })
      ul.tab-filter.tab-filter--news.d-xl-none
        li.tab-filter__item
          a.tab-filter__btn.active(href="#") Все
        li.tab-filter__item
          a.tab-filter__btn(href="#") Производство
        li.tab-filter__item
          a.tab-filter__btn(href="#") Вакансии
      .category-filter.default-slider.d-none.d-xl-block
        .swiper-container.js-auto-slider
          .swiper-wrapper
            .swiper-slide.category-filter__item
              +news-category({
                activeClass: '',
                categoryValue: 'all',
                categoryName: 'Все',
                srcImage: 'img/content/news-category-item-1.png',
              })
            .swiper-slide.category-filter__item
              +news-category({
                activeClass: '',
                categoryValue: 'production',
                categoryName: 'Производство',
                srcImage: 'img/content/news-category-item-2.png',
              })
            .swiper-slide.category-filter__item
              +news-category({
                activeClass: '',
                categoryValue: 'vacancy',
                categoryName: 'Вакансии',
                srcImage: 'img/content/news-category-item-1.png',
              })
    .section-content.section-content--news
      .section-content__wrap.section-content__wrap--news
        -for(var i = 0; i < 6; i++)
          .section-content__item
            +preview({
              title: 'Фторкаучуковые кольца',
              picture: 1,
              tag: 'a'
            })

  +is-loading('Loading...')
block footer
  +page-footer()
