extends pug/layout.pug

block meta
  title Компания
block header
  +page-header()
block content
  main
    hr.line
    +partner()
    hr.line
    +reviews()
    hr.line
    +news()
    hr.line
    +contacts()
block footer
  +page-footer()
