extends pug/layout.pug

block meta
  title Компания
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Главная', className: '',
          attrs: {href: 'index.html',}
        },
        {
          text: 'Компания', className: '',
          attrs: {},
        }
      ]
    )
    +main-content({
      title: 'Компания «Техноэласт»',
      contentSlider: true,
      contentFooter: true,
      className: 'main-content__header--company',
    })
      .main-content__desc
        p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
        p Но понимание сути ресурсосберегающих технологий выявляет срочную потребность дальнейших направлений развития.
    hr.line
    +excellence()
    hr.line
    +personals()
    hr.line
    +partner()
    hr.line
    +description()
    hr.line
    +reviews({
      title: 'Отзывы',
      filter: true
    })
    hr.line
    +news()
    hr.line
    +contacts({})
block footer
  +page-footer()
