extends pug/layout.pug

block meta
  title Компания
block header
  +page-header()
block content
  main
    +navigation(
      [
        {
          text: 'Главная ›', className: '',
          attrs: {href: '#',}
        },
        {
          text: 'Компания', className: '',
          attrs: {},
        }
      ]
    )
    +main-content({
      title: 'Компания «Техноэласт»',
    })
    hr.line
    +personals()
    hr.line
    +partner()
    hr.line
    +description()
    hr.line
    +reviews()
    hr.line
    +news()
    hr.line
    +contacts()
block footer
  +page-footer()
