extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    +main-slider()
    hr.line
    +advantages()
    hr.line
    +faq()
    hr.line
    +write()
    hr.line
    +contacts()
    hr.line
    +nav-list()
    hr.line
    +block-form()
block footer
  +page-footer()
