extends pug/layout.pug

block meta
  title Главная
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Продукция', className: '',
          attrs: {href: 'products.html',}
        },
        {
          text: 'Компания', className: '',
          attrs: {href: 'company.html',}
        },
        {
          text: 'Новости', className: '',
          attrs: {href: 'all-news.html',}
        },
        {
          text: 'Контакты', className: '',
          attrs: {href: '#modal-contact', 'data-fancybox': ''}
        }
      ]
    )
    +main-content({
      title: 'Резинотехнические изделия',
      mainSlider: true,
      contentFooter: true,
      className: 'd-xl-none'
    })
      .main-content__content-wrap.main-content__content-wrap--xl-row
        .main-content__content
          h2.title-big.main-content__title.d-none.d-xl-block Резинотехнические изделия
          .main-content__desc
            p Произведем формовые резинотехнические изделия под заказ по вашим чертежам
          .main-content__btn
            a.btn.btn--main(href="#modal-message-order" data-fancybox="") Обсудить проект
            a.btn.btn--ios(href="#modal-message-order" data-fancybox="") Заказать
        .main-content__price.d-none.d-xl-block
          +price({iconSale: '22%'})
    hr.line
    +production({
        title: 'Продукция',
        filter: true,
        categoryTag: 'a'
    })
    hr.line
    +list-production({
      title: 'Продукция'
    })
    hr.line
    +privileges()
    hr.line
    +services()
    hr.line
    +theses()
    hr.line
    +advantages('Преимущества 🔥')
    hr.line
    +partner()
    hr.line
    +reviews({
        title: 'Отзывы',
        filter: true,
        tplSlider: true
    })
    hr.line
    +interview()
    hr.line
    +block-content()
    hr.line
    +block-content-2()
    hr.line
    +faq()
    hr.line
    +write()
    hr.line
    +contacts({})
    hr.line
    +nav-list(
      [
        {
          link: 'products.html', text: 'Продукция'
        },
        {
          link: 'company.html', text: 'Компания'
        },
        {
          link: 'all-news.html', text: 'Новости'
        },
        {
          attrs: {href: '#modal-contact', 'data-fancybox': ''}, text: 'Контакты'
        },
      ]
    ).d-xl-none
    hr.line
    +block-form()

