extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    +navigation(
      [
        {
          text: 'Продукция', className: '',
          attrs: {href: '#',}
        },
        {
          text: 'Компания', className: '',
          attrs: {href: '#',}
        },
        {
          text: 'Новости', className: '',
          attrs: {href: '#',}
        },
        {
          text: 'Контакты', className: '',
          attrs: {href: '#',}
        }
      ]
    )
    +main-slider()
    hr.line
    +production()
    hr.line
    +advantages()
    hr.line
    +partner()
    hr.line
    +reviews()
    hr.line
    +faq()
    hr.line
    +write()
    hr.line
    +contacts()
    hr.line
    +nav-list()
    hr.line
    +block-form()
block footer
  +page-footer()
