extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    +navigation(
      [
        {
          text: 'Продукция', className: '',
          attrs: {href: '#',}
        },
        {
          text: 'Компания', className: '',
          attrs: {href: 'company.html',}
        },
        {
          text: 'Новости', className: '',
          attrs: {href: '#',}
        },
        {
          text: 'Контакты', className: '',
          attrs: {href: '#',}
        }
      ]
    )
    +main-content({
      title: 'Резинотехнические изделия',
      mainSlider: true
    })
      h2.title-small.main-content__footer-title Произведем формовые резинотехнические изделия под заказ по вашим чертежам
      .main-content__desc
        ul
          li – Перво тезисное преимущество
          li – Второе тезисное преимущество
          li – И вишенка на торте
      a.btn.btn--main.main-content__btn(href="#" data-fancybox="") Обсудить проект
    hr.line
    +production()
    hr.line
    +advantages('Преимущества 🔥')
    hr.line
    +partner()
    hr.line
    +reviews()
    hr.line
    +faq()
    hr.line
    +write()
    hr.line
    +contacts()
    hr.line
    +nav-list()
    hr.line
    +block-form()
block footer
  +page-footer()
