extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header({})
block content
  main
    ul
      li
        a(href='index.html') Главная
      li
        a(href='company.html') Компания
      li
        a(href='contact.html') Контакты
      li
        a(href='all-news.html') Все
      li
        a(href='news.html') Новость
      li
        a(href='products.html') Продукты
      li
        a(href='products-item-1.html') Подкатегория продуктов
      li
        a(href='products-current.html') Карточка товара
      li
        a(href='result-search.html') Результат поиска
      li
        a(href='404.html') 404
      li
        a(href='thanks.html') Спасибо
block footer
  +page-footer()
