extends pug/layout.pug

block meta
  title Новость
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Главная ›', className: '',
          attrs: {href: 'index.html',}
        },
        {
          text: 'Новости ›', className: '',
          attrs: {href: 'all-news.html',}
        },
        {
          text: 'Технологии производства', className: '',
        }
      ]
    )
    +main-content({
      title: 'Технологии производства',
      contentFooter: true
    })
      .main-content__desc
        img(src="img/content/content-1.jpg" alt="Технологии производства")
        p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
        p Но понимание сути ресурсосберегающих технологий выявляет срочную потребность дальнейших направлений развития.
        h4 Равным образом консультация
        p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
        h4 Идейные соображения высшего порядка
        p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
    hr.line
    +advantages('Схема работы ')
    hr.line.line--doubble
    .section-content
      .section-content__wrap
        .section-content__desc
          h4 Равным образом консультация
          p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
          img(src="img/content/content-1.jpg" alt="Технологии производства")
          h4 Равным образом консультация
          p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
          img(src="img/content/content-1.jpg" alt="Технологии производства")
          h4 Равным образом консультация
          p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
    hr.line
    +contacts({})
block footer
  +page-footer()
