extends pug/layout.pug

block meta
  title Продукция
block header
  +page-header({})
block content
  main
    +navigation(
      [
        {
          text: 'Главная ›', className: '',
          attrs: {href: 'index.html',}
        },
        {
          text: 'Продукция', className: '',
          attrs: {href: ''},
        }
      ]
    )
    +main-content({
      title: 'Продукция',
      contentSlider: false,
      contentFooter: false,
      className: 'main-content__header--products',
    })
    hr.line
    +nav-list(
      [
        {
          link: 'products-item.html', text: 'ГОСТ'
        },
        {
          link: 'products-item.html', text: 'Нестандартные РТИ'
        },
      ]
    )
    hr.line
    +production-list()
block footer
  +page-footer()
