extends pug/layout.pug

block meta
  title Страница не найдена
block header
  +page-header({})
block content
  main
    +navigation(
        [
            {
                text: 'Продукция', className: '',
                attrs: {href: 'products.html',}
            },
            {
                text: 'Компания', className: '',
                attrs: {href: 'company.html',}
            },
            {
                text: 'Новости', className: '',
                attrs: {href: 'all-news.html',}
            },
            {
                text: 'Контакты', className: '',
                attrs: {href: '#modal-contact', 'data-fancybox': ''}
            }
        ]
    )
    +client-errors({
        imgSrc: 'img/content/icon-complite.png',
        title: 'Спасибо!',
        text: 'Мы получили заяваку и свяжемся с вами в ближайшее время.',
    })
block footer
  +page-footer()
