.main-content {
  @media (min-width: $screen-xl) {
    background-color: $white;
    border-radius: $border-radius-xl;
    border: 1px solid $color-line-border-xl;
    margin-bottom: 16px;
  }

  &--news {
    .main-content__footer {
      padding-top: 0;
    }
  }

  &--products {

    .main-content__header {
      padding-bottom: 20px;

      @media (min-width: $screen-xl) {
        padding-bottom: 25px;
        padding-top: 31px;
      }
    }

    .main-content__footer {
      @media (max-width: $screen-xl - 1px) {
        padding: 0;
      }

      @media (min-width: $screen-xl) {
        padding-top: 8px;
      }
    }
  }

  &--all-news {
    .main-content__header {
      padding-bottom: 20px;

      @media (min-width: $screen-xl) {
        padding-bottom: 25px;
        padding-top: 31px;
      }
    }

    .main-content__footer {
      padding-top: 0;

      @media (min-width: $screen-xl) {
        padding-top: 8px;
      }
    }
  }
}

.main-content--p-current {
  @media (min-width: $screen-xl) {
    display: flex;
    padding: 16px 30px 16px 16px;

    .main-content__container {
      max-width: 255px;
      min-height: 255px;
      height: 100%;
      padding: 0;
      background-color: $color-light;
    }

    .swiper-container {
      height: 100%;
    }

    .main-content__slide {
      height: 100%;
    }

    .main-content__footer {
      padding-top: 14px;
      padding-bottom: 0;
      padding-right: 0;
    }
  }
}

.main-content__wrap--xl-reverse {
  @media (min-width: $screen-xl) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.main-content__content {
  @media (min-width: $screen-xl) {
    max-width: 555px;

    .main-content__title {
      margin-bottom: 16px;
    }
  }
}

.main-content__header {
  padding: 16px 16px 0;

  @media (min-width: $screen-xl) {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 0px;
  }

  &--bottom {
    padding-bottom: 16px;

    @media (min-width: $screen-xl) {
      padding-bottom: 24px;
    }
  }
}

.main-content__header--company {
  padding-bottom: 21px;
}



.main-content__title {
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.1px;

  @media (min-width: $screen-xl) {
    //margin-bottom: 8px;
    //margin-bottom: 24px;/
  }
}

.main-content__container {
  position: relative;
  border: 1px solid transparent;
  //padding: 1px 2px 0;

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      &:not(.swiper-button-disabled) {
        opacity: 1;
      }
    }
  }

  @media (max-width: $screen-xl - 1) {
    padding: 16px 0 0;
    border: 0;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 4px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 24px;
    &--company {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &--main {
    @media (min-width: $screen-xl) {
      //overflow: hidden;
      padding-top: 0;
      border-top-left-radius: $border-radius-xl;
      border-top-right-radius: $border-radius-xl;

      .swiper-container {
        border-top-left-radius: $border-radius-xl;
        border-top-right-radius: $border-radius-xl;
      }
    }
    //background-color: $color-light;
    // border-top: 1px solid $color-line-border;
    // border-bottom: 1px solid $color-line-border;
    //margin-left: 16px;
    //margin-right: 18px;
  }
}

.main-content__container--company {
  .main-content__slide {
    overflow: hidden;
    border-radius: $border-radius-xl;
  }
}

.main-content__pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  line-height: initial;
  margin-left: auto;
  margin-right: auto;
  width: auto !important;

  @media (min-width: $screen-xl) {
    bottom: 8px;
  }
}

.main-content__desc {
  display: block;
  color: $text-color;

  strong:not([class]) {
    font-weight: 600;
  }

  &--xl-width {
    @media (min-width: $screen-xl) {
      max-width: 767px;
    }
  }
}

.main-content__desc h4,
.main-content__desc h3 {
  @include text-big;
  margin-bottom: 6px;

  @media (min-width: $screen-xl) {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.005em;
  }
}

.main-content__desc img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.main-content__desc p:last-child {
  margin-bottom: 0;
}

.main-content__desc ul {
  margin: 0;
}

.main-content__footer {
  padding: 16px 18px 24px 16px;
  flex-grow: 1;

  @media (min-width: $screen-xl) {
    padding: 24px 24px;
  }
}

.main-content__footer-user-evt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: -8px;
  margin-left: -6px;
  margin-right: -6px;

  @media (min-width: $screen-xl) {
    margin-top: -16px;
    margin-bottom: 18px;
  }
}

.main-content__footer-user-evt-wrap {
  display: flex;
  align-items: flex-start;
}

.main-content__content-wrap--xl-row {
  @media (min-width: $screen-xl) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.main-content__price {
  @media (min-width: $screen-xl) {
    padding-left: 20px;
  }
}

.main-content__btn {
  margin-top: 24px;


  .btn {
    width: 100%;

    & + .btn {
      margin-top: 8px;

      @media (min-width: $screen-xl) {
        margin-left: 8px;
        margin-top: 0;
      }
    }

    @media (min-width: $screen-xl) {
      width: auto;
    }
  }
}

.main-content__slide {
  position: relative;
  display: block;
  text-decoration: none;
  // padding-left: 16px;
  // padding-right: 16px;

  @media (min-width: $screen-xl) {
    //border-radius: $border-radius-xl;
    overflow: hidden;
  }
}

.main-content__slide img,
.main-content__slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-content__footer-title {
  font-weight: 400;
  margin-bottom: 8px;
}

.main-content__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content__pagination .swiper-pagination-bullet {
  transition: $time;
  background-color: $color-bullet;
  width: 7px;
  height: 7px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid $white;
  transform: scale(0.5);
  opacity: 0;
}

.main-content__pagination .swiper-pagination-bullet-active {
  transform: scale(1);
  background-color: $color-active-bullet;
  opacity: 1;
}

.main-content__pagination .swiper-pagination-bullet-active-next,
//.main-content__pagination .swiper-pagination-bullet-active-prev,
//.main-content__pagination .swiper-pagination-bullet-active-prev-prev,
.main-content__pagination .swiper-pagination-bullet-active-next-next {
  transform: scale(0.75);
  opacity: 1;
}

.main-content__pagination .swiper-pagination-bullet-active-next-next + span{
  transform: scale(0.5);
  opacity: 1;
}

.main-content__breadcrumbs {
  padding: 16px 24px;
  border-bottom: 1px solid $color-line-border;
}

.main-content__container .hover-slide {
  transition: $time;

  img {
    border-radius: 6px;
  }

  &:hover {
    box-shadow: 0 3px 8px rgba(0,0,0,.05),0 3px 1px rgba(0,0,0,.03);
    transform: scale(1.01);
  }
}
