mixin main-content({title, slider})
  article.main-content
    header.main-content__header
      h1.title-big.main-content__title= title
    if(slider === true)
      .main-content__container
        .swiper-container.js-main-slider
          .swiper-wrapper
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
        .swiper-pagination.main-content__pagination
    footer.main-content__footer
      block
