mixin main-content({title, mainSlider, contentSlider, contentFooter, className=''})
  article.main-content
    header.main-content__header(class= className)
      h1.title-big.main-content__title= title
    if(mainSlider === true)
      .main-content__container.main-content__container--main
        .swiper-container.js-main-slider
          .swiper-wrapper
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/main-slide-1.jpg" alt="Резинотехнические изделия")
        .swiper-pagination.main-content__pagination
    if(contentSlider === true)
      .main-content__container
        .swiper-container.js-main-slider
          .swiper-wrapper
            .swiper-slide
              a.main-content__slide(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&ab_channel=JazzandBluesExperience" data-fancybox="")
                img(src="img/content/content-1.jpg" alt="Резинотехнические изделия")
                +icon-play().main-content__play
            .swiper-slide
              .main-content__slide
                img(src="img/content/content-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/content-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/content-1.jpg" alt="Резинотехнические изделия")
            .swiper-slide
              .main-content__slide
                img(src="img/content/content-1.jpg" alt="Резинотехнические изделия")
        .swiper-pagination.main-content__pagination
    if(contentFooter === true)
      footer.main-content__footer
        block
