mixin main-content()
  //Все как в main-slider - переделать
  article.main-content
    header.main-content__header
      h1.title-big Компания «Техноэласт»
    .main-content__container
      a.main-content__picture
        //img()
    footer.main-content__footer
      .main-slider__desc
        p Акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями.
        p Но понимание сути ресурсосберегающих технологий выявляет срочную потребность дальнейших направлений развития.
