mixin block-message()
  .section-content
    +title-wrap('Напишите нам')
    .section-content__header
      span.section-content__header-text Написать на почту
    +nav-list(
        [
            {
                link: 'mailto:info@pplans.ru',
                text: `
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#paint0_linear)"/>
                  <path d="M23.8326 8.92889L18.0706 14.5002L23.8326 20.0714C23.9368 19.8595 24 19.6253 24 19.3752V9.62509C24 9.37494 23.9368 9.14076 23.8326 8.92889Z" fill="white"/>
                  <path d="M22.3295 8H6.66993C6.41288 8 6.17223 8.0615 5.95452 8.16286L13.3191 15.2936C13.9702 15.9273 15.0292 15.9273 15.6803 15.2936L23.0449 8.16286C22.8272 8.0615 22.5865 8 22.3295 8Z" fill="white"/>
                  <path d="M5.16736 8.92889C5.06319 9.14076 5 9.37494 5 9.62509V19.3752C5 19.6254 5.06319 19.8596 5.16736 20.0714L10.9294 14.5002L5.16736 8.92889Z" fill="white"/>
                  <path d="M17.2828 15.2659L16.4674 16.0594C15.3824 17.1152 13.6169 17.1152 12.5319 16.0594L11.7166 15.2659L5.95452 20.8371C6.17223 20.9385 6.41288 21 6.66993 21H22.3295C22.5865 21 22.8272 20.9385 23.0449 20.8371L17.2828 15.2659Z" fill="white"/>
                  <defs>
                  <linearGradient id="paint0_linear" x1="14.703" y1="28.8836" x2="14.7313" y2="0.350098" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#5CC3F6"/>
                  <stop offset="1" stop-color="#376DE9"/>
                  </linearGradient>
                  </defs>
                </svg>
                info@pplans.ru`,
                attrs: {
                    class: 'nav-list__link--no-arrow'
                }
            }
        ]
    )
    .section-content__header
      span.section-content__header-text Написать в мессенджер
    +nav-list(
        [
            {
                link: '#',
                text: `
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#tg)"/>
                  <path d="M5.30414 15.0122C7.03348 14.0596 8.96389 13.2646 10.7676 12.4655C13.8706 11.1566 16.986 9.87048 20.1328 8.67307C20.745 8.46905 21.8451 8.26952 21.953 9.17685C21.8939 10.4612 21.651 11.738 21.4843 13.0148C21.0613 15.8225 20.5723 18.6207 20.0956 21.4192C19.9313 22.3514 18.7635 22.834 18.0163 22.2374C16.2207 21.0245 14.4112 19.8234 12.6384 18.5824C12.0577 17.9923 12.5962 17.1449 13.1149 16.7236C14.5938 15.2661 16.1623 14.0277 17.564 12.4949C17.9421 11.5818 16.8249 12.3513 16.4564 12.5871C14.4317 13.9824 12.4566 15.4628 10.3219 16.6891C9.23147 17.2893 7.96059 16.7763 6.87069 16.4414C5.89345 16.0368 4.46143 15.6292 5.30404 15.0122L5.30414 15.0122Z" fill="white"/>
                  <defs>
                  <linearGradient id="tg" x1="10.8767" y1="1.2093" x2="3.62669" y2="18.125" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#37AEE2"/>
                  <stop offset="1" stop-color="#1E96C8"/>
                  </linearGradient>
                  </defs>
                </svg>
                Telegram`,
                attrs: {
                    class: 'nav-list__link--no-arrow'
                }
            },
            {
                link: '#',
                text: `
                  <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 5C0 2.23858 2.23858 0 5 0H24C26.7614 0 29 2.23858 29 5V24C29 26.7614 26.7614 29 24 29H5C2.23858 29 0 26.7614 0 24V5Z" fill="url(#wp)"/>
                    <path d="M19.048 16.4598L19.0405 16.5223C17.208 15.609 17.0163 15.4873 16.7797 15.8423C16.6155 16.0881 16.1372 16.6456 15.993 16.8106C15.8472 16.9731 15.7022 16.9856 15.4547 16.8731C15.2047 16.7481 14.4022 16.4856 13.4522 15.6356C12.7123 14.9732 12.2156 14.1607 12.0689 13.9107C11.8248 13.489 12.3356 13.429 12.8006 12.549C12.8839 12.374 12.8414 12.2365 12.7798 12.1124C12.7173 11.9874 12.2198 10.7624 12.0114 10.2741C11.8114 9.78741 11.6056 9.84908 11.4514 9.84908C10.9715 9.80741 10.6206 9.81408 10.3115 10.1357C8.96649 11.614 9.30565 13.139 10.4565 14.7607C12.7181 17.7206 13.9231 18.2656 16.1264 19.0222C16.7213 19.2114 17.2638 19.1847 17.693 19.1231C18.1713 19.0472 19.1655 18.5223 19.373 17.9348C19.5855 17.3473 19.5855 16.8598 19.523 16.7473C19.4613 16.6348 19.298 16.5723 19.048 16.4598Z" fill="white"/>
                    <path d="M21.6004 7.37448C15.193 1.18042 4.58905 5.67284 4.58488 14.411C4.58488 16.1576 5.04237 17.861 5.91402 19.3651L4.50072 24.5L9.77979 23.1234C16.3672 26.6816 24.497 21.9567 24.5004 14.416C24.5004 11.7694 23.467 9.27861 21.5879 7.40697L21.6004 7.37448ZM22.8354 14.3885C22.8304 20.7492 15.848 24.7217 10.3256 21.4751L10.0256 21.2967L6.90067 22.1092L7.73816 19.0718L7.53899 18.7593C4.10239 13.2885 8.05065 6.13866 14.5605 6.13866C16.7722 6.13866 18.848 7.00115 20.4113 8.56362C21.9737 10.1128 22.8354 12.1886 22.8354 14.3885Z" fill="white"/>
                    <defs>
                    <linearGradient id="wp" x1="14.5" y1="0" x2="14.5" y2="29" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7DE777"/>
                    <stop offset="1" stop-color="#5CC34D"/>
                    </linearGradient>
                    </defs>
                  </svg>
                  WhatsApp`,
                attrs: {
                    class: 'nav-list__link--no-arrow'
                }
            },
        ]
    )
